:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

canvas {
    background: black
}

.hide {
    display: none;
}

#score-col {
    position: relative;
}

#score {
    font-family: 'Varela Round', sans-serif;
    font-size: 5em;
}

#leaderboard {
    width: 80%;
    font-size: 1.35em;
}
