:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

canvas {
    /* doesnt work */
    background-image: url(./images/background.png);
    /* dont add a background color bcz it overrides canvas background */
}

.hide {
    display: none;
}

#score-col {
    position: relative;
}

#score {
    font-family: 'Varela Round', sans-serif;
    font-size: 5em;
}

#leaderboard {
    width: 80%;
    font-size: 1.35em;
}

.instructions {
    font-size: 1em;
    /* width: auto; */
}

.game-name {
    font-family: 'Bubblegum Sans', 'Calibri Light', cursive;
    font-size: 1.1em;
}

kbd {
    color: #333333 !important;
    background-color: #eeeeee !important;
}

.poison {
    color: #8c51c6;
    font-weight: bold;
}
